@media screen and (max-width: 768px) {
    .container {
        padding-bottom: 44px;
        width: 100%;
        height: auto;
    }
    .history {
        padding-bottom: 44px;
        width: 100%;
        height: auto;
    }
    .repass {
        width: 100%;
    }
}