.btn-submit-changee{
  border-radius: 4px;
  background: #008848;
  padding: 6px 56px;
  color:white;
  outline: none;
  border: 1px solid #008848;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 110%;
}

.btn-submit-changee:hover{
  transition: all 0.2s ease-in-out;
  background: #026b3a;
  color: #fff;
}

.text-bold {
  font-weight: 500;
}
