.btn-submit-change{
  border-radius: 4px;
  background: #1890ff;
  padding: 6px 56px;
  color:white;
  outline: none;
  border: 1px solid #1890ff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 110%;
}

.btn-submit-change:hover{
  transition: all 0.2s ease-in-out;
  background: #1579d6;
  color: #fff;
}

.text-bold {
  font-weight: 500;
}
