
.home-admin{
  display: flex;
  margin-top: 24px;
}

.line-graph{
  width: 70%;
}
.container-graph{
  padding-top: 30px;
}

.graph{
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0,0.1);
  padding: 16px 8px;
}

.report-total{
  display: flex;
}
.content-total{
  margin: 54px 12px;
  width: calc(100% / 3);
}

html{
  scroll-behavior: smooth;
}