.btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 40px; 
  z-index: 99; 
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2 );
}
.btn-top:hover{
  background: rgba(0, 0, 0, 0.6 );

}
.img-carousel{
  height: 420px;
}
@media screen and (max-width: 768px) {
  .btn-top{
    display: none;
  }
  .carousel-container{
    padding-bottom: 44px;
  }
  .img-carousel{
    height: 150px;
  }
}